html, body{
	height: 100%;
}

body{
	font-family: sans-serif;
	background: #ebf9fb;
	margin:0;
	padding:0;
	font-size:12px;
}

.container {
	width: 1000px;
	margin:20px auto;
	padding:10px;
	background-color:#fff;
	box-shadow:0px 0px 3px #000;
	height: 670px;
	overflow: hidden;
	
}

.container .header {
  /*background-repeat: no-repeat;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
  height: 10%;
  background-image: url('data/background.jpg');*/
  color: white;
  text-align: center;
  font-size: 15px;
  background-image: url('data/background.jpg');
  height: 15%;
  padding-top: 25px;
  padding-bottom: 0px;
}

.container .menu{
	background-color: darkblue;
	font-size: 10px;
	text-align: right;
	color: white;
	height: 2%;
	padding: 10px;
    font-style: italic;
}

.clear{
	clear: both;
}

.section {
  height: 450px;
}

.container .section .nav {
  /*float: left;
  width: 15%;
  height: 100%;
  height: 400px; only for demonstration, should be removed 
  background: linear-gradient(white 0%, grey 100%);
  padding: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;*/
  
   /*background: linear-gradient(white 0%, grey 100%);*/
	background-image: url('data/back.jpg');
	float: left;	
	width: 15%;
	height: 100%;
    border-bottom-left-radius: 15px;
	padding: 20px;
}

.container .section .nav ul {
  list-style-type: none;
}

.dropbtn {
  background: linear-gradient(white 0%, grey 100%);
  width: 100px;
  font-size: 12px;
  text-align: left;
  font-color: white;
	color: #ed5107;
	padding: 7px;
	
	transition: color 0.3s ease-out 0.3s;
	font-family: verdana;
	cursor: pointer;
	overflow: hidden;
	
  /*background: linear-gradient(white 0%, grey 100%);
  text-align: left;
  width: 100px;
  color: none;
  padding: 7px;
  font-size: 12px;
  border: none;
  cursor: pointer;*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container .section .article {
  /*float: left;
  padding: 20px;
  width: 85%;
  height: 100%;
  background-color: #f1f1f1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
  overflow-y: scroll;
  background-color: #f1f1f1;
  float: left;
  height: 100%;
  width: 75%;
  padding-left: 20px;
  padding: 20px;
  padding-left: 40px;
}

.container .footer {
  width: 100%;
  padding: 10px;
  font-style: italic;
  color: gray;
  height: 10%;
}

/*button{
	background-color: transparent;
	color: #ed5107;
	padding: 16px 45px;
	border: 1px solid #ed5107;
	transition: color 0.3s ease-out 0.3s;
	font-family: verdana;
	cursor: pointer;
	overflow: hidden;
	
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

button::before, button::after{
	content: "";
	position: absolute;
	left: 0;
	transform: skewY(-12deg);
	transition: all 0.5s ease-out;
	background-color: #ed5107;
	width: 100%; height: 100%;
	z-index: -1;
}

button::before{
	top: -65px;
}

button::after{
	bottom: -65px;
}

button:hover::before{
	top: -20px;
}

button:hover::after{
	bottom: -20px;
}

button:hover{
	color: #fff;
}*/

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}
 
h1, h2, h3 {
	margin:0;
	padding:0;
}
 
#menu {
	text-align:center;
	margin:15px 0px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
 
	#menu a {
		display:inline-block;
		padding:5px 10px;
		text-decoration:none;
		color:#000;
		font-weight:bold;
	}
 
		#menu a:hover {
			background-color:#CCC;
		}
 
		#menu a.active {
			background-color:#CCC;
		}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
 
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
 
.error {
	border:1px solid #FF8080;
	background-color:#FFCECE;
	padding:3px;
	margin:5px 0px;
	text-align:center;
}
 
.ok {
	border:1px solid #80FF80;
	background-color:#CFC;
	padding:3px;
	margin:5px 0px;
	text-align:center;
}

.lambang-panah {
  position: relative;
  top: -1px;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 0px;
  border-width: 4px 4px 0px;
  padding-top: 1px;
  left: 4px;
  border-style: solid dashed dashed;
  border-right: 4px dashed transparent;
  border-color: #ffffff transparent transparent;
}
